<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dang nhap</title>
  </head>
  <body>
    <form action="/signin" method="post">
      <input type="text" name="username" value="" placeholder="username"><br><br>
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Dang nhap">
    </form>
    <a href="/signup">Dang ky</a>
  </body>
</html>
