<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dang ky</title>
  </head>
  <body>
    <form action="/formSignUp" method="post">
      <input type="text" name="username" placeholder="username"><br><br>
      <input type="password" name="password" placeholder="password"><br><br>
      <input type="text" name="email" placeholder="email"><br><br>
      <input type="submit" value="Dang ky">
    </form>
  </body>
</html>
